<nav class="navbar navbar-expand-lg navbar-dark navigation-bar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">CryptoDash</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex" role="search">
        <input 
          class="form-control me-2" 
          type="search" 
          placeholder="Buscar criptomoneda..." 
          aria-label="Search"
          (input)="onSearch($event)" 
        >
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list" routerLinkActive="active">Lista Criptos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
