<div class="container mt-4">
  <h2 class="mb-3">Lista de Criptomonedas</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Símbolo</th>
        <th scope="col">Precio (EUR)</th>
        <th scope="col">Cambio 24h</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (crypto of filteredCryptos(); track crypto.id) {
        <tr>
          <td>
            <img [src]="crypto.image" [alt]="crypto.name" width="25" height="25">
          </td>
          <td>{{ crypto.name }}</td>
          <td>{{ crypto.symbol | uppercase }}</td>
          <td>{{ crypto.current_price | number:'1.2-2' }} €</td>
          <td [class.text-success]="crypto.price_change_percentage_24h > 0" [class.text-danger]="crypto.price_change_percentage_24h < 0">
            {{ crypto.price_change_percentage_24h | number:'1.2-2' }}%
          </td>
          <td>
            <button class="btn btn-primary btn-sm" [routerLink]="['/detail', crypto.id]">
              Ver Detalle
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>