/* You can add global styles to this file, and also import other style files */
#hola {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}

body {
  background-color: #a6acb4; /* Color de fondo suave (gris claro azulado) */
  color: #333; /* Texto oscuro para contraste */
}
